<div class="form-group">
    <label for="name">名義</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="名義"
        value="<%= (account !== undefined) ?  account.name : '' %>">
</div>